h1 {
    color: black;
    font-size: 35px;
    font-family: 'Press Start 2P', cursive;
    transition: all 0.5s ease;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 2s linear;
  height: 40px;
}

.App-header {
  justify-content: center;
  height: 40px;
  padding: 20px;
  color: white;
  margin-bottom: 10px;
  position: relative;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(45deg); }
}

.db {
    display: block;
}

.dib {
    display: inline-block;
}

.link {
    text-decoration: none;
    transition: color .15s ease-in;
}

.link:link, .link:visited {
    transition: color .15s ease-in;
}

.link:hover {
    transition: color .15s ease-in;
}

.link:active {
    transition: color .15s ease-in;
}

.link:focus {
    transition: color .15s ease-in;
    outline: 1px dotted currentColor;
}

.mid-gray {
    color: #555;
}

.pv4 {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.ph2 {
    padding-left: .5rem;
    padding-right: .5rem;
}

.ph3 {
    padding-left: 1rem;
    padding-right: 1rem;
}

.mt3 {
    margin-top: 1rem;
}

.tc {
    text-align: center;
}

.ttu {
    text-transform: uppercase;
}

.f6 {
    font-size: .875rem;
}

.dim {
    opacity: 1;
    transition: opacity .15s ease-in;
}

.dim:hover, .dim:focus {
    opacity: .5;
    transition: opacity .15s ease-in;
}

.dim:active {
    opacity: .8;
    transition: opacity .15s ease-out;
}

@media screen and (min-width: 30em) and (max-width: 60em) {
    .ph5-m {
        padding-left: 4rem;
        padding-right: 4rem;
    }
}

@media screen and (min-width: 60em) {
    .ph6-l {
        padding-left: 8rem;
        padding-right: 8rem;
    }
}


.shake-opacity, {
    display: inline-block;
    transform-origin: center center; }
  
  .shake-freeze,
  .shake-constant.shake-constant--hover:hover,
  .shake-trigger:hover .shake-constant.shake-constant--hover {
    animation-play-state: paused; }
  
  .shake-freeze:hover,
  .shake-trigger:hover .shake-rotate, .shake-opacity:hover,
  .shake-trigger:hover .shake-opacity, .shake-crazy:hover
   {
    animation-play-state: running; }
  
 
  @keyframes shake-opacity {
    10% {
      transform: translate(-4px, 2px) rotate(-0.5deg);
      opacity: 0.87; }
    20% {
      transform: translate(-1px, -3px) rotate(0.5deg);
      opacity: 0.01; }
    30% {
      transform: translate(-4px, -2px) rotate(1.5deg);
      opacity: 0.76; }
    40% {
      transform: translate(-1px, 1px) rotate(0.5deg);
      opacity: 0.4; }
    50% {
      transform: translate(-1px, -1px) rotate(2.5deg);
      opacity: 0.1; }
    60% {
      transform: translate(-1px, -1px) rotate(-1.5deg);
      opacity: 0.09; }
    70% {
      transform: translate(-2px, -1px) rotate(-1.5deg);
      opacity: 0.3; }
    80% {
      transform: translate(-1px, -3px) rotate(-0.5deg);
      opacity: 0.91; }
    90% {
      transform: translate(2px, 5px) rotate(-0.5deg);
      opacity: 0.76; }
    0%, 100% {
      transform: translate(0, 0) rotate(0); } }
  
  .shake-opacity:hover,
  .shake-trigger:hover .shake-opacity, .shake-opacity.shake-freeze, .shake-opacity.shake-constant {
    animation-name: shake-opacity;
    animation-duration: 1.5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite; }
  
   